*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url('front.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height:100vh;
}

header{
    background-color: linear-gradient(to bottom right, #996600 0%, #f17d7d 100%);
    box-shadow: 3px 0px 10px rgb(236, 43, 227);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu{
    display: flex;
}
#logo img{
    margin: 10px;
    width: 70px;
    height: 60px;
}
.menu-item{
    margin: 10px 6px;
    padding: 6px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    
}
.menu-item a{
    color: rgb(171, 0, 214);
}

.container{
    max-width: 800px;
    padding: 100px;
    text-align: center;
    margin: 10px auto;
    font-size: 30px;
 
}
.container h1{
    color:linear-gradient(to top left, #bee21e 0%, #be650b 100%);
    text-shadow: 2px 2px #3d251e;
    height: 20vh;
}
.container p{
    color:  #38101c;
    height: 70px;
    font-family: cursive;
   
}

.menu-item:hover{
    border: 2px solid rgba(148, 52, 14, 0.546);
    border-radius: 10%;
}

.pbtn a{
    color:rgb(2, 2, 2);
    text-align: center;
    padding: 6px;
    width: 15%;
    border: 1px solid;
    background: #ff00807a;
    text-decoration: none;
}
.pbtn{
    margin-left: 43vw;
    font-size:40px;
    font-weight: 600;
}
.pbtn a:hover{
    background:#b96d6dad;
    color:#ff9900e0;

}
.box{
    background-color: rgba(255, 0, 200, 0.37);
    color: rgb(0, 0, 0);
    height: 70vh;
    width: 50vw;
    max-width: 800px;
    padding: 100px;
    text-align: center;
    
    margin: 10px auto;
    font-size: 30px;
}
.box p{
    height: 18vh;
}
.box img{
    height: 100px;
    width: 200px;
    border-radius: 10%;
}
footer{
    height: 8vh;
    color:rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 0;
}

