.box2{
    background-color: rgba(255, 105, 180, 0.397);
    color: linear-gradient(to top left, #ff99cc 0%, #ff9933 100%);
    height: 80vh;
    width: 50vw;
    max-width: 800px;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;  
}
.box2 h1{
    height: 150px;
    padding: 40px;
}
.contactlist{
    text-align: left;
    list-style: none;
    padding: 50px;
    font-size: 30px;
    
}
.contactlist h1{
    height: 20px;
}